{{outlet}}
<p>
<center>
  {{paper-input label="Movie Name" value=name onChange=(action (mut name))}}
  {{#paper-button iconButton=true onClick=(action 'search_movie' name) }}{{paper-icon "search"}}{{/paper-button}}
</center>
</p>
<p>

  {{#each obj as |s|}}


      <img
        src="https://image.tmdb.org/t/p/w500/{{s.poster_path}}"
        style="width:20vw; height:50vh" alt="" title={{s.title}}/>

  {{/each}}

</p>
